<%= form_builder.fields_for form_builder.object.tag do |tag_fields| %>
  <div class="form-group">
    <%= tag_fields.label :name, "Tag", class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <div class="tag-input-panel">
        <%= tag_fields.text_field :name, id: "tag_input", class: "form-control",
          placeholder: "Tag of the purchases" %>

        <!-- dropdown menu for auto-complete-->
        <div class="dropdown">
          <button style="display: none" type="button" data-toggle="dropdown"></button>
          <ul class="dropdown-menu"></ul>
        </div>
      </div>
    </div>

    <div class="col-sm-offset-3 col-sm-8 text-danger">
      <% tag_fields.object.errors[:name].each do |msg| %>
        <%= msg %><br/>
      <% end %>
    </div>
  </div>
<% end %>
