<div class="container-fluid">
  <h3 class="text-center">Expense Report</h3>
  <hr/>
  <% if @error %>
    <div class="alert alert-danger"><%= @error %></div>
  <% end %>

  <div id="expense_report_chart">
    <script>
      $(document).ready(function() {
        var chart = new CanvasJS.Chart("expense_report_chart",
          {
            zoomEnabled: true,
            data: [
              {
                type: "line",
                dataPoints: [ <%= raw report_as_data_points(@report) %> ]
              }
            ]
         });

        chart.render();
      });
    </script>
  </div>
</div>
