<%= javascript_include_tag "expense_chart" %>

<div id="expense_chart">
  <script>
   $(function() {
     var chart = new ExpenseChart({
       data: [ <%= raw aggregated_data_as_json_v2 %> ],
       $root_element: $('#expense_chart')
     });

     chart.render();
   });
  </script>
</div>
