.expense_report_criteria_table {
  table-layout: fixed;
  th:first-of-type {
    width: 30%;
  }
}

#expense_report_chart {
  min-height: 300px;
  width: 100%;
}

// next-generation expense chart
#expense_chart {
  position: relative;
  margin-left: 20px;
  canvas {
    background-color: #f2f3f4;
    // border: 1px solid #a7aaaf;
  }
  #float_tip {
    display: none;
    z-index: 1000;
    position: absolute;
    background-color: #a2a6ad;
    border: 1px solid #818489;
    padding: 5px;
  }
}
