// Place all the styles related to the ExpenseEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-types-panel, .tag-input-panel {
  position: relative;
}

.tags-panel {
  border: 0px;
  padding-left: 0px;

  a[data-toggle="popover"] {
    margin-right: 6px;
    font-size: 90%;
    padding: 3px 6px;
  }
}

.popover-content {
  padding: 6px 3px;
}

// override boostrap default so table and pagination
// control stay closer
.pagination {
  margin: 0px;
}
