.expense_report_criteria_table {
  table-layout: fixed;
  th:first-of-type {
    width: 30%;
  }
}

#expense_report_chart {
  min-height: 300px;
  width: 100%;
}

// next-generation expense chart
#expense_chart {
  position: relative;
  min-height: 330px;
  canvas {
    background-color: #f9f9f9;
  }
  .float_tip {
    display: none;
    max-width: 250px;
    z-index: 1000;
    position: absolute;
    background-color: #a2a6ad;
    border: 1px solid #818489;
    border-radius: 5px;
    padding: 5px;
  }
}
