#parent_item_types_panel{
  .list-group {
    margin-bottom: 0px;

    a {
      width: 250px;
    }

    #parent_item_type_input {
      width: 250px;
      display: inline-block;
    }

    button.close {
      opacity: 0.6;
      color: red;
    }
  }
}


.jstree-proton {
  .jstree-anchor {
    font-size: 110%;
    font-weight: bold;
  }
}

