// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup, .change-password {
  margin-top: 10px;
  background-color: #f1f1f1;
  max-width: 700px;
}

.change-password {
  h3 {
    margin-bottom: 1em;
  }
  .text-danger {
    margin-bottom: 3px;
  }
}
.signin {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #f1f1f1;
  max-width: 450px;
  border-radius: 5px;
  border: 1px solid #e4e1e1;
  
  .alert {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .signin-header {
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
  }
  
  input.form-control {
    font-size: 16px;
    border-radius: 0px;
  }
  
  input[type=submit] {
    margin-top: 10px;
  }
}
